# Default values for bot.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  registry: "ghcr.io"
  repository: "sadko-vadym/blank-problem"
  tag: "v1.0.0"
  os: linux
  arch: amd64

# Telegram Bot Token
# This should be overridden during installation
secret:
  TELE_TOKEN: ""

# Service account settings
serviceAccount:
  create: true
  name: ""

# Resource limits and requests
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

# Node selector for pod assignment
nodeSelector: {}

# Tolerations for pod assignment
tolerations: []

# Affinity for pod assignment
affinity: {}
